<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CFMS</title>
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">


  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="../../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../dist/css/jquery.dataTables.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../dist/css/adminlte.min.css">
  
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
             
          </div>

          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Fnperiod">Fnperiods</a></li>
              <li class="breadcrumb-item active">Add</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Create New Oganization</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="account-overview" v-cloak>                
                          <ajax-form method= "post" action="addFnperiod" :form-data="formData" >
                              <div class="row">
                                <div class="col-sm-6">   
                                  
                                  
                                  <div class="form-group">
                                    <label for="Organization">Organization</label>
                                    <input class="form-control" id="Organization" name="Organization" type="text"  :class="[formErrors.Organization ? 'is-invalid' : '']" v-model.trim="formData.Organization" placeholder="Seventh Day" autocomplete="name" >
                                    <div class="invalid-feedback" v-if="formErrors.Organization">Please enter Organization.</div>
                                  </div>
                                  <div class="form-group">
                                      <label for="Financia_year">Financial Year</label>
                                      <input class="form-control" id="Financia_year" name="Financia_year" type="text"  :class="[formErrors.Financia_year ? 'is-invalid' : '']" v-model.trim="formData.Financia_year" placeholder="Fnperiod level" autocomplete="name">
                                      <div class="invalid-feedback" v-if="formErrors.Financia_year"> Please enter Financial</div>
                                    </div>

                                  <div class="form-group">
                                    <label for="Start_date">Start_date</label>
                                    <input class="form-control" id="Start_date" name="Start_date" type="text"  :class="[formErrors.Start_date ? 'is-invalid' : '']" v-model.trim="formData.Start_date" placeholder="Seventh Day" autocomplete="name" >
                                    <div class="invalid-feedback" v-if="formErrors.Start_date">Please enter Start_date.</div>
                                  </div>
                                  <div class="form-group">
                                      <label for="End_date">Financial Year</label>
                                      <input class="form-control" id="End_date" name="End_date" type="text"  :class="[formErrors.End_date ? 'is-invalid' : '']" v-model.trim="formData.End_date" placeholder="Fnperiod level" autocomplete="name">
                                      <div class="invalid-feedback" v-if="formErrors.End_date"> Please enter Financial</div>
                                    </div>

                                    


              
                                  <div class="row">
                                      <div class="col-sm-6">
                                        
                                      </div>
                                      <div class="col-sm-6">
                                        <div class="form-group text-right">
                                          <a class="btn btn-outline-info" href="/fnperiod">Cancel</a>
                                          <ajax-button type="submit"  class="btn btn-dark">Submit</ajax-button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </div> 
                            </ajax-form>
                          
                     
                  
               </div>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../../plugins/jszip/jszip.min.js"></script>
<script src="../../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<!-- AdminLTE App -->
<script src="../../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../dist/js/demo.js"></script>
<!-- Page specific script -->

</body>
</html>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>



 