<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div id="forgot-password" v-cloak>
  <div class="container-fluid pt-10 pb-10"> 
      <div style="max-width: 980px;" class="mx-auto" v-if="!cloudSuccess">
      <hr/>
    <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
    <fieldset>
        <!-- Form Name -->
        <legend><center><h2><b> Reset Password</b></h2></center></legend><br>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4"></label>  
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
              <div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div>      
                </div>
              </div>
              </div><br><br>                 

            <div class="form-group">
              <label class="col-md-4 control-label" ></label> 
                <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                  <p class="text-center"><a href="/login">Back to login</a></p>  
                </div>
                </div>
            </div>  
    </fieldset>

     <!-- Button -->
     <label class="col-md-4 control-label" ></label> 
      <ajax-button type="submit"  :syncing="syncing"  class="col-md-4 btn btn-warning" > &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSend reset link <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</ajax-button>
      <br><br> 
        <cloud-error v-if="cloudError==='badCombo'">The credentials you entered are not associated with an account. Please check your email and/or password and try again.</cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>
    </ajax-form>
    </div>

    <div style="max-width:  450px;" class="mx-auto text-center" v-else>
        <p>We've sent you a link to update your password.</p>
        <hr/>
        <p>If the email doesn’t arrive after a few minutes, try checking your spam folder.  If you still can’t find it, please try again, or <a href="/contact">contact support</a>.</p>
        <p class="text-center"><a class="btn btn-outline-primary" href="/login">Back to login</a></p>
      </div>
  
  </div><!-- /.container -->
</div>



<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
